<div class="container d-flex justify-content-center mt-5">
    <div class="card">
        <div class="top-container"> <img src="https://i.imgur.com/G1pXs7D.jpg" class="img-fluid profile-image" width="70">
            <div class="ml-3">
                <h5 class="name" id="login">@Model.Login</h5>
            </div>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Enter password">
			<input class="input100" type="password" name="pass" placeholder="Password" id="firstPasswordBox">
		</div>
		<div class="wrap-input100 validate-input" data-validate="Enter password">
			<input class="input100" type="password" name="pass" placeholder="Password again" id="secondPasswordBox">
		</div>
        <div class="container-login100-form-btn">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<button class="login100-form-btn" id="changePassword">
					Change Password
				</button>
			</div>
		</div>
		<div class="container-login100-form-btn">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<button class="login100-form-btn" id="logOut">
					Log Out
				</button>
			</div>
		</div>
		<span class="txt1" id="messages">
		
		</span>
    </div>
</div>